input:focus {
  outline: none;
}

.jible-header-home {
  color: white;
}

.hero {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 48px;
  color: white;
}

.hero-content {
  max-width: 1140px;
  margin: 0 auto;
}

.hero-content-wrapper {
  padding: 54px 0;
  background: url(../../images/cover.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

.content-description {
  margin: 0 24px;
  margin-top: 40%;
  font-size: 36px;
  text-align: center;
}

.signup-consumer-text {
  color: white;
  font-size: 24px;
}

.white-btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border: none;
  border-radius: 4px;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  cursor: pointer;
  padding: 12px 64px 12px 64px;
  font-family: "Ropa Sans";
  text-decoration: none;
}

.white-btn:hover {
  background: #9e9e9e;
  text-decoration: none;
}

.green-btn {
  border: none;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  font-family: "Ropa Sans";
  border-radius: 4px;
  cursor: pointer;
  margin-right: 16px;
  color: #ffffff;
  font-size: 20px;
  background: #419d78;
  padding: 12px 64px 12px 64px;
  text-decoration: none;
}

.green-btn:hover {
  background: #5bba92;
  text-decoration: none;
}

.signup-section {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 12px;
  margin-bottom: 200px;
}

.consumer-btn {
  background: #419d78;
  display: flex;
  max-width: 360px;
  justify-content: space-around;
  align-items: center;
  border: none;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  margin: 12px;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px;
  flex-grow: 1;
}

.consumer-btn:hover {
  background: #5bba92;
  text-decoration: none;
}

.rider-btn {
  background: #ffffff;
  display: flex;
  padding: 12px;
  max-width: 360px;
  justify-content: space-around;
  align-items: center;
  border: none;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  cursor: pointer;
  margin: 12px;
  flex-grow: 1;
}

.rider-btn:hover {
  background: #9e9e9e;
  text-decoration: none;
}

.signup-rider-text {
  color: black;
  font-size: 24px;
}

.left-icon {
  margin-right: 36px;
}

.right-icon {
  margin-left: 36px;
}

.how-it-works-content {
  display: flex;
  padding: 0 400px;
  flex-direction: column;
  color: #000000;
}

.how-it-works-header {
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  color: black;
}

.how-it-works-part1-wrapper {
  margin-top: 100px;
  display: flex;
}

.how-it-works-part2-wrapper {
  margin-top: 50px;
  padding-left: 100px;
}

.how-it-works-part3-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 100px;
}

.how-it-works-part1 {
  display: flex;
  flex-direction: column;
}

.how-it-works-part2 {
  display: flex;
  flex-direction: column;
}

.how-it-works-part3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.sub-header {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.sub-content {
  font-size: 18px;
  margin: 0;
  margin-top: 10px;
}

.apps-section {
  background-color: #419d78;
  display: grid;
  grid-template-columns: 50% 50%;
}

.apps-header {
  width: 50%;
  max-width: 300px;
  font-size: 34px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.app-image {
  position: relative;
  margin-top: -35%;
  margin-right: 100px;
  justify-self: end;
  align-self: end;
}

.store-img {
  width: 168px;
  height: 57px;
}

.play-store {
  margin-right: 36px;
}

.footer-content {
  color: #000000;
}

.footer-content {
  padding: 50px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}

.apps-right-section {
  padding-bottom: 80px;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.policy-item {
  margin-left: 100px;
}

.terms-item {
  margin-left: 100px;
}

.footer-link {
  text-decoration: none;
  color: #000000;
}

.part-wrapper {
  display: flex;
}

.how-it-works-part {
  flex: 1;
}

@media only screen and (max-width: 450px) {
  .footer-items {
    flex-direction: column;
    justify-content: center;
    order: 1;
  }

  .footer-content {
    flex-direction: column;
  }

  .policy-item {
    margin: 0;
  }

  .terms-item {
    margin: 0;
  }

  .jible-footer-header {
    order: 2;
  }

  .play-store {
    margin-right: 0;
  }

  .apps-section {
    display: flex;
    flex-direction: column;
  }

  .app-image {
    max-width: 100%;
    width: auto;
    margin-right: 0;
  }

  .hero-content {
    max-height: 100vh;
    flex-direction: column;
  }

  .hero-content-wrapper {
    padding: 24px 0;
  }

  .content-description {
    font-size: 24px;
  }

  .signup-btn,
  .login-btn {
    display: none;
  }

  .header-content {
    padding: 0 24px;
  }

  .signup-consumer-text,
  .signup-rider-text {
    font-size: 18px;
  }

  .how-it-works-header {
    margin-top: 15%;
  }

  .how-it-works-part {
    flex: unset;
  }

  .how-it-works-part2-wrapper {
    padding-left: 0;
    margin-top: 100px;
  }

  .how-it-works-part3-wrapper {
    padding-left: 0;
    margin-bottom: 0;
  }

  .how-it-works-content {
    padding: 0 0px;
  }

  .part-wrapper {
    justify-content: center;
  }

  .how-it-works-part > * {
    text-align: center;
    padding: 0 84px;
  }

  .app-image {
    order: 1;
    margin-top: 0;
    margin-right: 0;
    justify-self: unset;
    align-self: unset;
  }

  .apps-header {
    padding: 0 72px;
    text-align: center;
    width: unset;
    max-width: unset;
    margin-bottom: 50px;
    font-size: 30px;
  }

  .store-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .apps-right-section {
    padding-bottom: 48px;
  }

  .footer-items {
    font-size: 24px;
    text-align: center;
  }

  .footer-items > * {
    margin-top: 24px;
  }

  .jible-footer-header {
    font-size: 60px;
    margin-top: 48px;
  }
}
