.auth-header {
  color: black;
  font-size: 34px;
}

.auth-subheader {
  color: #909090;
  font-size: 16px;
  margin-top: 10px;
}

.auth-facebook-btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border: none;
  border-radius: 4px;
  background: #1356a4;
  color: white;
  font-family: "Ropa Sans";
  font-size: 23px;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 84px 12px 84px;
}
