.profile-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  overflow: hidden;
}

.app-header {
  margin: 24px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.app-header-text {
  font-size: 42px;
}

.header-icons {
  display: flex;
}

.notification-icon {
  margin-right: 12px;
}

.notification-body {
  display: flex;
  flex-direction: column;
  margin: 0 16px 16px 16px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 4px;
}

.notification-header {
  display: flex;
  justify-content: space-between;
}

.accept-btn {
  display: unset;
  margin-top: 12px;
  font-size: 16px;
}

.grey-btn {
  color: black;
  background-color: #e5e5e5;
  margin-top: 8px;
  font-size: 16px;
}

.rider-profile-info {
  display: flex;
  margin: 0 36px 0 36px;
}

.rider-profile-info-sub-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rider-profile-img {
  border-radius: 50%;
}

.profile-info-form-wrapper {
  margin: 24px 24px 0 24px;
}

.current-rider-username {
  margin-left: 12px;
}

.rider-info-container {
  margin: 48px 0;
}
