.request-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 15px;
  max-width: 570px;
}

.input-with-icon {
  display: flex;
  margin-right: 20px;
}

.itemInput {
  padding-right: 40px;
  flex-grow: 1;
}

.icPlus {
  margin-left: -30px;
}

input,
textarea {
  font-size: 16px;
  font-family: "Ropa Sans";
}

textarea {
  padding: 8px;
  margin-bottom: 12px;
}

.input-two-icons {
  padding: 8px 24px 8px 24px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  font-size: 16px;
}

.time-layout {
  display: flex;
}

.asap-layout {
  margin-right: 15px;
}

.schedule-layout {
  margin-left: 15px;
}

.order-btn {
  cursor: pointer;
  border: none;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  font-family: "Ropa Sans";
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  background: #419d78;
  padding: 12px 64px 12px 64px;
  text-decoration: none;
  margin-top: 24px;
}

#price {
  flex-grow: 0;
}

.skhera-item {
  background-color: #4a90e2;
  color: white;
  padding: 8px 12px 8px 36px;
  margin-bottom: 8px;
  font-size: 16px;
  border-radius: 4px;
}

.skhera-ul {
  list-style: none;
  padding: 0;
  list-style-type: none;
}

.skhera-ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  width: 1em;
  margin-left: -1em;
}
